.main-area {
  margin-left: auto;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

button.material-icons.toggle-btn {
  font-size: 36px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  border: 0;
  top: 16px;
  left: 16px;
  padding: 0;
  outline: none;
}

@media (min-width: 991px) {
  button.material-icons.toggle-btn {
    display: none;
  }
}

@media (max-width: 991px) {
  .main-area {
    width: 100%;
  }
}
